@font-face {
    font-family: "DINNextW01-Light";
    src: url("https://db.onlinewebfonts.com/t/9ae5e19516bc6428f1327ff3311b2617.eot");
    src: url("https://db.onlinewebfonts.com/t/9ae5e19516bc6428f1327ff3311b2617.eot?#iefix") format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/9ae5e19516bc6428f1327ff3311b2617.woff2") format("woff2"),
        url("https://db.onlinewebfonts.com/t/9ae5e19516bc6428f1327ff3311b2617.woff") format("woff"),
        url("https://db.onlinewebfonts.com/t/9ae5e19516bc6428f1327ff3311b2617.ttf") format("truetype"),
        url("https://db.onlinewebfonts.com/t/9ae5e19516bc6428f1327ff3311b2617.svg#DINNextW01-Light") format("svg");
}

body {
    font-family: DINNextW01-Light;
    font-size: 100%;
    color: #000;
}
.content{
    display: none;
}
 
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-image: url('../images/Spinner-1s-200px.svg') ;
    background-position:50% 50%;
}
.tooltip.fade,
.tooltip.show {
    font-size: 20px !important;
}
ul li{
    list-style: none;
}
 
.bold7 {
    font-weight: 700;
}

.bold8 {
    font-weight: 800;
}
a{
    color: #3d3d3d;
    font-weight: bold;
}
a:hover{
    text-decoration: none;
}
/* Header */
 .link_off_btn {
    padding: 10px 30px;
    border: 4px solid #4facfe;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
}
 .link_off_btn:hover {
    text-decoration: none;
    color: #4facfe;
    transition: color .3s; 
}

.page_head {
    color: #fff;
    background: #56ab2f;
    background: -webkit-linear-gradient (120deg, #55cc65 20%, #d4fc79 100%);
    background: linear-gradient(120deg, #55cc65 20%, #d4fc79 100%);
    padding-top: 150px;
    padding-bottom: 50px;
}

h1.delivery_title {
    font-size: 80px;
    line-height: 70px;
}

h2.delivery_subtitle {
    font-size: 38px;
}

/* End header */

/* navbar  */
#mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #4facfe;
    background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    background: -webkit-linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

#mainNav.navbar-shrink .navbar-brand img {
    width: 130px;
    transition: all .5s;
}

.navbar-brand img {
    width: 220px;
}

#mainNav .navbar-nav .nav-item .nav-link {
    color: #3d3d3d;
    margin-left: 15px;
}
#mainNav .navbar-toggler:focus{
    border: 0;
    outline: 0;
} 
#mainNav .navbar-toggler {
    font-size: 18px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: #fff;
    border: 0;
    /* background-color: #fed136; */
}



/* emd mavbar */

/* how it works */
.how_it_works {
    padding-top: 60px;
    padding-bottom: 60px;
}

.how_it_works .how_it_works_item:hover * {
    color: #4facfe;
    transition: color .3s;
}

.how_it_works .ico,
.how_it_works .desc {
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #26B6C1;

}

.how_it_works .ico i {
    font-size: 120px;
}

/* end how it works */

/* cities  and maps*/
.cities .link_off_btn{
    margin-left: 40px; 
}
.cities {
    background-image: url('../images/cfd4c6_bc4378af9c554bc382127c8a6f49bffb_mv2.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    position: relative;
}

.cities .cities_names ul {
    margin-top: 160px;
}
.cities .cities_names ul li:not(:last-child):after {
    content: ", ";
}
.cities .cities_names ul li {
    float: left;
    padding: 5px;
    color: #fff;
    font-weight: 900;
    font-size: 26px;
}
.cities:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; 
    background-color: rgba(0, 0, 0,.6);
}
 

.cities .map,
.cities .cities_names {
    padding-top: 20px;
}

.cities .map svg .los_area{
    fill: #ff8800 !important;
    stroke: #ff0101 !important;
    stroke-width: 3px;
}
.cities .map svg {
    margin-top: 50px;
    width: 70%;
    max-height: 500px;
    display: block;
    float: left;
    float: right;
}

 
 
#map path:hover,
#map circle:hover,
#map polyline:hover,
#map polygon:hover { 
    stroke-width: 2px;
    stroke-linejoin: round;
    stroke: #ff0101 !important;
    stroke-width: 3px;
    fill: #002868 !important;
    cursor: pointer;
    transition: all .3s;
}

#map path,
#map polyline,
#map circle,
#map polygon {
    fill: #4facfe;
    stroke: #ff8800;
    cursor: pointer;
}
 
/* end map */
/* Email wrap */
.email_wrap {
    padding-top: 50px;
    padding-bottom: 50px;
}
.email_wrap .email_info_wrap {
    color: #26B6C1;
}
.email_wrap .email_info_wrap h1{
    font-size: 70px;
}
.email_wrap .email_info_wrap p{
    font-size: 22px;
}
.email_forms .email_submit {
    background-color: #26B6C1;
    color: #fff;
    font-weight: bold;
}
.email_forms .email_submit:hover {
    background-color: #4facfe;
    transition: background-color .5s;
}
/*  END Email wrap */

/* footer */

#footer{
    background: #56ab2f;
    background: -webkit-linear-gradient (120deg, #55cc65 20%, #d4fc79 100%);
    background: linear-gradient(120deg, #55cc65 20%, #d4fc79 100%);
    padding-top: 20px;
    padding-bottom: 5px;
}
#footer .social_links ul li {
    padding: 5px;
    float: left;
    margin-left: 10px;
    margin-top: -8px;
    border-radius: 20px;
}

#footer .social_links ul li i{
    color: #fff;
    font-size: 32px; 
}
#footer .social_links ul li i.fa-facebook-square:hover{
    color: #3b5998;
    transition:color .5s;
}
#footer .social_links ul li i.fa-instagram-square:hover{ 
    color: #d6249f;
    transition:color .5s;
}
/* End footer */
/* medias */

@media (max-width:992px) {

    #mainNav {
        padding-top: 25px;
        padding-bottom: 25px;
        -webkit-transition: padding-top .3s, padding-bottom .3s;
        -moz-transition: padding-top .3s, padding-bottom .3s;
        transition: padding-top .3s, padding-bottom .3s;
        border: none;
        background-color: transparent
    }

    #mainNav .navbar-brand {
        font-size: 1.75em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s
    }

    #mainNav .navbar-nav .nav-item .nav-link {
        padding: 1.1em 1em !important;
        margin-top: 8px;
        margin:0;
    }
    #mainNav .navbar-nav .nav-item:hover {
        background-color: rgba(255, 255, 255,.3);
    }
   
    #mainNav.navbar-shrink {
        padding-top: 0;
        background-color: rgba(33, 37, 41, .7)
    }
    #mainNav .navbar-collapse.show{
        padding-bottom: 10px;
    }

    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0
    }

    .cities .cities_names ul{
        margin-top: 70px;
    }
    .link_off_btn{
        padding: 8px 22px;
        font-size: 18px;
    }
    .cities .cities_names ul li {
        font-size: 20px;
    }
    .email_wrap .email_info_wrap p{
        font-size: 18px;
    }
     
}

@media (max-width:787px) {
    .how_it_works .ico, .how_it_works .desc h3{
        font-size: 22px;
    }
    .cities_names{
        text-align: center;
    }
    .cities_names ul li{
        font-size: 22px !important; 
    }
    .cities .link_off_btn{
        margin-left: 0;
    }
    .cities .map{
        margin-top: 20px;
    }
    .cities .map svg {
        float: none;
        margin: 0 auto;
    }
    .cities {
        background-size: cover; 
    }


    #footer .social_links ul li {
        text-align: center !important;
        display: block !important;

    }

    .navbar-brand img {
        width: 160px;
    }
    h1.delivery_title{
        font-size: 60px;
    }
}